<div class="new-wrapper" *ngIf="present">
    <a [routerLink]="['/admin/addstudent']" class="btn btn-primary add-button  col-md-offset-11">+ New</a>
    <table>
        <thead>
            <tr>
                <th>Enr. No.</th>
                <th>Name</th>
                <th>Batch</th>
                <th>Stream</th>
                <th>Section</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.enrollment}}</td>
                <td>{{student.name}}</td>
                <td>20{{student.batch}}-20{{student.batch+4}}</td>
                <td>{{student.stream}}</td>
                <td>{{student.section}}</td>
                <td>{{student.email}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-xs dt-edit" >
                        Edit
                    </button>
                </td>
                <td> 
                    <button type="button" class="btn btn-danger btn-xs dt-delete">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="start" *ngIf="!present" style="margin-top: 100px;">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>