.body{
    background-color: #f2f2f2;
}
  /*CARD*/
.subject_name {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
h5{
    font-size:20px;
    display: block;
    padding:15px;
    background-color:#2c476d;
    color:#ffffff;
    border-radius: 4px;
}
.column {
    float: left;
    width: 25%;
    cursor: pointer;
}
  
  /* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
  
  /* Style the counter cards */
.card {
    color:#325181;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    background-color:white;
    height:200px;

    margin-left: 40pt;
    margin-right: 40pt;
    margin-bottom: 20pt;
    margin-top: 20pt;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}