<!-- <nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  [routerLink] = "['/']">Home</a></li>
            <li routerLinkActive="active"><a  [routerLink] = "['/admin']">Admin</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  [routerLink] = "['/teacher']">Teacher</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  [routerLink] = "['/student']">Student</a></li>
        </ul>
    </div>
</nav> -->

<router-outlet></router-outlet>

<div id="footer" class="footer">

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="col-md-9 col-xs-9 col-xs-offset-3 col-md-offset-3">
                        <img class="logo" src="http://www.msit.in/static/img/msit.png" alt="logo">
                    </div>
                    <p class="text-justify">Welcome to <i>Assignment Submission Portal</i> of Maharaja Surajmal Institute of  Technology, GGSIPU</p>
                </div>

                <div class="col-xs-6 col-md-3 col-md-offset-1">
                    <h3>Quick Links</h3>
                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-4 footer-links">
                    <h3>Address</h3>
                    
                    C-4 Janak Puri, New Delhi, Delhi 110058, India<br />
                    <i class="glyphicon glyphicon-earphone"></i> Phone: 011-25528117, 011-25552667<br />
                    <i class="glyphicon glyphicon-envelope"></i> Email: <a href="mailto:sdirector@msit.in">sdirector@msit.in</a><br />
                </div>
            </div>
        </div>
    </footer>
</div>