<div *ngIf="!resetSuccessfull">
    <label for="password"></label>
    <input type="password" id="password" name="password" [(ngModel)]="pass" required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}$" password #password="ngModel" />
    <div style="color: #f00; font-size: 13px;" *ngIf="password.invalid && password.touched">
        <div class="error" *ngIf="password.errors.required">
            Password is required.
        </div>
        <div *ngIf="password.errors.pattern">
            Password must contain atleast one lowercase, uppercase, digit each and atlease 8 character.
        </div>
    </div>
    <br/>
    <label for="confirm"></label>
    <input type="password" id="confirm" name="confirm" required
    [(ngModel)]="confirmpass" confirm #confirm="ngModel" />
    <div style="color: #f00; font-size: 13px;" *ngIf="confirm.touched">
        <div *ngIf="pass !== confirmpass">
            Not match with password.
        </div>
    </div>
    <button (click)="onSubmit()" type="submit" id="submit" 
    [disabled]="!password.valid || (pass !== confirmpass) || filled">
        Submit
    </button>
</div>
<p id="msg"></p>
<div *ngIf="resetSuccessfull">
    
    <p [routerLink]="['/']" >Click here to go on login page</p>
</div>