<div class="container-fluid">
    <div class="col-md-7 col-xs-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
    
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://scontent.fjai1-2.fna.fbcdn.net/v/t31.0-8/22538703_129904181001459_4354800048820643730_o.jpg?_nc_cat=100&ccb=2&_nc_sid=e3f864&_nc_ohc=8-X0XpCixWgAX-vzTfF&_nc_ht=scontent.fjai1-2.fna&oh=2703d907b04b6b3df598b6e346724ede&oe=5FC7F811" alt="">
                </div>
        
                <div class="item">
                    <img src="http://www.msit.in/static/img/mainPage/icaia.jpg" alt="">
                </div>
        
                <div class="item">
                    <img src="http://www.msit.in/static/img/mainPage/slide_2.jpg" alt="">
                </div>
            </div>
    
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-4 col-xs-12 col-md-offset-1">
        <div class="form-structor">
            <form class="login form" id="login" (ngSubmit) = "onSubmit()" #f="ngForm">
                <h2 class="form-title" (click)="toLogin()" ><span></span>Login</h2>
                <div class="form-holder">
                    <p style="color: rgb(247, 71, 71);" id="msg"></p>
                    <br/>
                    <select name="authority" id="authority" class="input" placeholder="type" value="student"
                    [(ngModel)]='authority'>
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="admin">Admin</option>
                    </select>
                    <br />
                    <input [type]="authority==='student'?'number':'email'" name="email" class="input" [placeholder]="authority==='student'?'Enrollment number':'Email'" 
                    required ngModel email #email="ngModel" autocomplete="off" />
                    <div style="color: #f00; font-size: 13px;" *ngIf="email.invalid && email.touched">
                        <div class="error" *ngIf="email.errors.required">
                            <div *ngIf="authority==='student'">
                                Enrollment number is required
                            </div>
                            <div *ngIf="authority !== 'student'">
                                Email is required.
                            </div>
                        </div>
                        <div *ngIf="email.errors.email && authority !== 'student'">
                            Please enter valid email
                        </div>
                    </div>
                    <br/>
                    <input type="password" name="password" class="input" placeholder="Password" 
                    required ngModel #password="ngModel"  />
                    <div style="color: #f00; font-size: 13px;" *ngIf="password.invalid && password.touched">
                        <div class="error" *ngIf="password.errors.required">
                            Password is required.
                        </div>
                        <!-- <div *ngIf="password.errors.pattern">
                            Password must contain a lowercase, a uppercase letter, one digit, one special case letter and minimum of 8 digit
                        </div> -->
                    </div>
                </div>
                <button type="submit" id="submit" class="submit-btn" [disabled]="(!f.valid && authority!=='student') || (!password.valid && authority==='student') || filled">Login</button>
            </form>


            <div class="forget slide-up" id="forget">
                <div class="center">
                    <h2 class="form-title" (click)="toForget()" >Forget Password<span>??</span></h2>
                    <p id="forgetmsg"></p>
                    <div *ngIf="!forgetLinkSendSuccessfully">
                        <div class="form-holder">
                            <select name="authority" class="input" placeholder="type"
                            [(ngModel)]="forgetAuthority">
                                <option value="student">Student</option>
                                <option value="teacher">Teacher</option>
                                <option value="admin">Admin</option>
                            </select>
                            <br/>
                            <input type="email" name="email" class="input" placeholder="Email" required
                            [(ngModel)]="forgetEmail" email #email1="ngModel" />
                            <div style="color: #f00; font-size: 13px;" *ngIf="email1.invalid && email1.touched">
                                <div class="error" *ngIf="email1.errors.required">
                                    Email is required.
                                </div>
                                <div *ngIf="email1.errors.email">
                                    Please enter valid email.
                                </div>
                            </div>
                        </div>
                        <button (click)="resetPassword()" id="forgetsubmit" type="submit" class="submit-btn" [disabled]="forgetFilled || !email1.valid" >
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>